.field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
  align-items: center;
  gap: 1em;
}

.field label {
  /* margin-bottom: 1em; */
  flex-basis: 18ch;
  flex-grow: 1;
}

.field input {
  flex-basis: 30ch;
  flex-grow: 1.5;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: solid var(--accent) 1px;
  outline: none;
}

.field input:focus {
  box-shadow: 0 0 0 2px var(--accent);
  transition: box-shadow 150ms;
}
