.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 0 2em;
  padding-bottom: 1em;
  bottom: 0;
  box-shadow: #0002 0 0 3px 3px;
  transition: all 200ms;
}

.preciseName {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.information {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  color: #888;
}

.container:not(.expanded) {
  transform: translate(0, 75%);
}

.iconUp {
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}

.iconUp i {
  font-size: 1.5em;
  margin-right: 0;
  transition: transform 300ms;
}

.expanded i {
  transform: rotate(540deg);
}

.temp {
  flex-grow: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action {
  width: 100%;
}

.cityTitle {
  user-select: none;
  margin: 0;
  font-weight: normal;
  text-align: center;
}

.cityDetails {
  display: flex;
}

.cityData {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.climateImg {
  width: 40%;
  height: 10em;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.climateImg img {
  border-radius: 1em;
  background-color: var(--accent50);
  object-fit: scale-down;
  width: 100%;
}

.climateImg.day img {
  background-color: #90ece5;
}

.climateImg.night img {
  background-color: #21809c;
}

.desktopTitle {
  display: none;
}

.action.remove {
  background-color: transparent;
  border: solid 2px;
  color: red;
}

.action.remove:hover,
.action.remove:focus {
  box-shadow: 0 0 0 2px red;
}

@media (min-width: 768px) {
  .container {
    position: static;
    z-index: 0;
    height: 100%;
    border-radius: 0;
    padding: 2em;
  }

  .container:not(.expanded) {
    transform: translate(0, 0);
  }

  .iconUp {
    display: none;
  }

  .desktopExpanded {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .desktopTitle {
    display: block;
    user-select: none;
    margin: 0;
    padding-bottom: 1em;
    font-weight: normal;
    text-align: center;
  }

  .action {
    margin-bottom: 0;
    margin-top: auto;
  }

  .cityDetails {
    flex-direction: column;
    flex: 1;
  }

  .cityData {
    flex: 1;
  }

  .temp {
    flex-grow: 0;
    flex-direction: row;
    justify-content: start;
    gap: 1em;
  }

  .climateImg {
    width: auto;
    flex: 2;
    align-self: stretch;
  }
}
