.container {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 0 2em;
  padding-bottom: 1em;
  bottom: 0;
  box-shadow: #0002 0 0 3px 3px;
  transition: all 200ms;
}

.information {
  text-align: center;
  padding: 1em;
}

.container:not(.expanded) {
  transform: translate(0, 75%);
}

.iconUp {
  padding-top: 5px;
  cursor: pointer;
  text-align: center;
}

.iconUp i {
  font-size: 1.5em;
  margin-right: 0;
  transition: transform 300ms;
}

.expanded i {
  transform: rotate(540deg);
}

.action {
  width: 100%;
}

.cityTitle {
  user-select: none;
  margin: 0;
  padding-bottom: 1em;
  font-weight: normal;
  text-align: center;
}

.cityDetails {
  display: flex;
}

.cityData {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.climateImg {
  width: 40%;
  height: 10em;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.climateImg img {
  object-fit: scale-down;
  width: 100%;
}

.desktopTitle {
  display: none;
}

@media (min-width: 768px) {
  .container {
    position: static;
    z-index: 0;
    height: 100%;
    border-radius: 0;
    padding: 2em;
  }

  .container:not(.expanded) {
    transform: translate(0, 0);
  }

  .iconUp {
    display: none;
  }

  .desktopExpanded {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .desktopTitle {
    display: block;
    user-select: none;
    margin: 0;
    padding-bottom: 1em;
    font-weight: normal;
    text-align: center;
  }

  .action {
    margin-bottom: 0;
    margin-top: auto;
  }

  .cityDetails {
    flex-direction: column;
    flex: 1;
  }

  .cityData {
    flex: 1;
  }

  .climateImg {
    width: fit-content;
    flex: 2;
    align-self: stretch;
  }
}
