.last {
  margin-bottom: 1em;
  margin-top: auto;
  align-self: center;
}

.registerBody {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100% - 2em);
  margin-bottom: 1em;
}

.title {
  user-select: none;
  text-shadow: #0005 0 0 5px;
  text-align: center;
  color: white;
}

.registerBody button {
  margin: 0 auto;
  margin-bottom: 2em;
}

.desktopAside {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.indication {
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
  color: white;
  color: white;
  text-shadow: #0005 0 0 4px;
}

.error {
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: #fCC;
  text-align: center;
  color: #D00;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .registerBody {
    flex-direction: row;
    margin-bottom: 0;
  }

  .desktopTitle {
    flex: 1;
    height: fit-content;
    margin-top: 20vh;
    font-size: 3vw;
  }

  .desktopAside {
    flex: 0.5;
    background-color: #fffa;
    padding: 0 4em;
    box-shadow: #0005 0 -2px 10px;
  }

  .indication {
    color: black;
    text-shadow: #0005 0 0 2px;
  }
}
