.location {
  cursor: pointer;
  --marker-color: #e96868;
  background-image: radial-gradient(
    circle,
    var(--marker-color) 10%,
    transparent 10%,
    transparent 20%,
    var(--marker-color) 20%,
    var(--marker-color) 40%,
    transparent 40%,
    transparent 60%,
    var(--marker-color) 60%
  );
  border-radius: 100%;
  width: 5ch;
  height: 5ch;
  transform: translate(-50%, -50%);
}
